
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/aiden.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/aiden.xcuserdatad/xcschemes/xcschememanagement.plist
